---
import ProjectLayout from '@/layouts/project/project-layout.astro'
import ProjectContactNav from '@/layouts/project/project-contact-nav.astro'

import { Badge } from '@/components/ui/badge'
import { NewGroupBtn } from '@/components/groups/new-group-btn'
import { GroupsTable } from '@/components/groups/groups-table'

import { getGroups } from '@/db/models/group'

const csrfToken = Astro.locals.csrfToken!
const team = Astro.locals.team!
const project = Astro.locals.project!
const ids = {
  teamId: team.id,
  projectId: project.id,
}

const groups = await getGroups(ids)
const total = groups.length
---
<ProjectLayout>
  <div class="container space-y-6">
    <div class="flex items-center justify-between">
      <div class="inline-flex items-center space-x-2">
        <h2 class="text-2xl font-bold tracking-tight">Groups</h2>
        <Badge className="mt-0.5">{total}</Badge>
      </div>
      <NewGroupBtn client:load csrfToken={csrfToken} ids={ids} />
    </div>
    <ProjectContactNav active="groups">
      <GroupsTable
        className="pt-6"
        csrfToken={csrfToken}
        data={groups}
        total={total}
        ids={ids}
        client:load
      />
    </ProjectContactNav>
  </div>
</ProjectLayout>
