---
import { Ellipsis } from 'lucide-react'

import { checkPermission } from '@/middleware/check-permission'
import { UserPermissionsEnum } from '@/lib/rbac'
import { cn } from '@/lib/utils'
import { getEmailTemplatesByProject } from '@/db/models/email-template'

import ProjectLayout from '@/layouts/project/project-layout.astro'

import { buttonVariants } from '@/components/ui/button'
import { Card, CardTitle, CardDescription, CardHeader, CardFooter } from '@/components/ui/card'

const team = Astro.locals.team!
const project = Astro.locals.project!

const canAccess = await checkPermission(UserPermissionsEnum.LIST, Astro)
if (!canAccess) return Astro.redirect('/404')

const emailTemplates = await getEmailTemplatesByProject({ projectId: project.id })
---

<ProjectLayout>
  <div class="container flex flex-col space-y-6">
    <a class={buttonVariants()} href={`/${team.slug}/${project.slug}/templates/new`}>
      New Email Template
    </a>
    <div class="grid grid-cols-3 gap-2">
      {
        emailTemplates.map((template) => (
          <Card>
            <CardHeader>
              <CardTitle className="flex w-full items-center justify-between">
                <div class="flex items-center space-x-2">
                  <span class="text-3xl">{template.emoji!.native}</span>
                  <a
                    href={`/${team.slug}/${project.slug}/templates/${template.id}/edit`}
                    class="cursor-pointer text-sm outline-0 hover:underline"
                  >
                    {template.name}
                  </a>
                </div>
                <div class="flex items-center">
                  <a class={cn(buttonVariants({ variant: 'ghost', size: 'iconXs' }))}>
                    <Ellipsis className="size-4" />
                  </a>
                </div>
              </CardTitle>
              <CardDescription className="text-sm">{template.description}</CardDescription>
            </CardHeader>
            <CardFooter className="flex">
              <a class={cn(buttonVariants({ size: 'sm' }))}>Choose</a>
            </CardFooter>
          </Card>
        ))
      }
    </div>
  </div>
</ProjectLayout>
