---
import { checkPermission } from '@/middleware/check-permission'
import { UserPermissionsEnum } from '@/lib/rbac'
import { getEmailTemplatesByProject } from '@/db/models/email-template'

import ProjectLayout from '@/layouts/project/project-layout.astro'

import { buttonVariants } from '@/components/ui/button'
import { Card, CardContent, CardTitle, CardDescription } from '@/components/ui/card'

const team = Astro.locals.team!
const project = Astro.locals.project!

const canAccess = await checkPermission(UserPermissionsEnum.LIST, Astro)
if (!canAccess) return Astro.redirect('/404')

const emailTemplates = await getEmailTemplatesByProject({ projectId: project.id })
---

<ProjectLayout>
  <div class="mx-auto flex w-full max-w-6xl flex-col space-y-6">
    <a class={buttonVariants()} href={`/${team.slug}/${project.slug}/templates/new`}>
      New Email Template
    </a>
    <div class="flex gap-2">
      {
        emailTemplates.map((template) => (
          <Card className="w-1/3">
            <CardContent className="flex justify-between p-3.5">
              <div>
                <CardTitle className="text-sm">
                  <a
                    href={`/${team.slug}/${project.slug}/templates/${template.id}/edit`}
                    class="cursor-pointer outline-0 hover:underline"
                  >
                    {template.id}
                  </a>
                </CardTitle>
                <CardDescription className="text-sm font-normal text-muted-foreground">
                  Owner
                </CardDescription>
              </div>
            </CardContent>
          </Card>
        ))
      }
    </div>
  </div>
</ProjectLayout>
