---
import ProjectLayout from '@/layouts/project/project-layout.astro'

import { EmailTemplateEditor } from '@/components/templates/email-template-editor'
import { EmailTemplateFixedToolbar } from '@/components/templates/email-template-fixed-toolbar'
import {
  EmailTemplateSubmitFormComponent,
  Action,
} from '@/components/templates/email-template-submit-form-component'
import { BreadcumbTemplateInputComponent } from '@/components/breadcrumb-template-input-component'
import { BreadcrumbItem, BreadcrumbSeparator } from '@/components/ui/breadcrumb'
import { SlashSvg } from '@/components/svg/slash'

import {
  DEFAULT_EMAIL_TEMPLATE_NAME,
  DEFAULT_SETTINGS,
  DEFAULT_EMOJI,
  DEFAULT_EMAIL_TEMPLATE_CONTENT,
} from '@/stores/template-store'

const csrfToken = Astro.locals.csrfToken!
const project = Astro.locals.project!
const team = Astro.locals.team!

const emoji = JSON.stringify(DEFAULT_EMOJI) as string
const settings = JSON.stringify(DEFAULT_SETTINGS) as string
const content = JSON.stringify(DEFAULT_EMAIL_TEMPLATE_CONTENT) as string

const handleUrlRedirect = `/${team.slug}/${project.slug}/templates`
---

<ProjectLayout>
  <Fragment slot="exstraBreadcrumbs">
    <BreadcrumbSeparator className="text-gray-300">
      <SlashSvg className="!size-6" />
    </BreadcrumbSeparator>
    <BreadcrumbItem className="font-semibold tracking-tight text-foreground">
      <span class="text-lg">{DEFAULT_EMOJI.native}</span>
      {DEFAULT_EMAIL_TEMPLATE_NAME}
    </BreadcrumbItem>
  </Fragment>
  <EmailTemplateSubmitFormComponent
    csrfToken={csrfToken}
    name={DEFAULT_EMAIL_TEMPLATE_NAME}
    emoji={emoji}
    teamId={project.teamId}
    projectId={project.id}
    action={Action.CREATE}
    handleUrlRedirect={handleUrlRedirect}
    client:load
  />
  <EmailTemplateEditor content={content} settings={settings} client:load />
</ProjectLayout>

<script>
  import { onMount } from 'nanostores'
  import { $emailTemplate, DEFAULT_EMAIL_TEMPLATE_FORM_SUBMIT } from '@/stores/template-store'

  onMount($emailTemplate, () => {
    return () => {
      $emailTemplate.set({
        isSubmitForm: DEFAULT_EMAIL_TEMPLATE_FORM_SUBMIT,
      })
    }
  })
</script>
