---
import { checkPermission } from '@/middleware/check-permission'
import { UserPermissionsEnum } from '@/lib/rbac'
import { getEmailTemplate } from '@/db/models/email-template'

import ProjectLayout from '@/layouts/project/project-layout.astro'

import {
  EmailTemplateSubmitFormComponent,
  Action,
} from '@/components/templates/email-template-submit-form-component'
import { EmailTemplateEditor } from '@/components/templates/email-template-editor'
import { BreadcrumbItem, BreadcrumbSeparator } from '@/components/ui/breadcrumb'
import { SlashSvg } from '@/components/svg/slash'

const csrfToken = Astro.locals.csrfToken!
const project = Astro.locals.project!
const team = Astro.locals.team!

const emailTemplateId = Astro.params.emailTemplateId!

const canAccess = await checkPermission(UserPermissionsEnum.READ, Astro)
if (!canAccess) return Astro.redirect('/404')

const emailTemplate = await getEmailTemplate({ id: emailTemplateId })
if (!emailTemplate) return Astro.redirect('/404')

const handleUrlRedirect = `/${team.slug}/${project.slug}/templates`
---

<ProjectLayout>
  <Fragment slot="exstraBreadcrumbs">
    <BreadcrumbSeparator className="text-gray-300">
      <SlashSvg className="!size-6" />
    </BreadcrumbSeparator>
    <BreadcrumbItem className="font-semibold tracking-tight text-foreground">
      <BreadcrumbItem className="font-semibold tracking-tight text-foreground">
        <span class="text-lg">{emailTemplate.emoji!.native}</span>
        {emailTemplate.name}
      </BreadcrumbItem>
    </BreadcrumbItem>
  </Fragment>
  <EmailTemplateSubmitFormComponent
    csrfToken={csrfToken}
    name={emailTemplate.name!}
    description={emailTemplate.description as string | undefined}
    emoji={emailTemplate.emoji!}
    teamId={project.teamId}
    projectId={project.id}
    emailTemplateId={emailTemplateId}
    action={Action.UPDATE}
    handleUrlRedirect={handleUrlRedirect}
    client:load
  />
  <EmailTemplateEditor
    content={emailTemplate.content!}
    settings={emailTemplate.settings!}
    client:load
  />
</ProjectLayout>

<script>
  import { onMount } from 'nanostores'
  import { $emailTemplate, DEFAULT_EMAIL_TEMPLATE_FORM_SUBMIT } from '@/stores/template-store'

  onMount($emailTemplate, () => {
    return () => {
      $emailTemplate.set({
        isSubmitForm: DEFAULT_EMAIL_TEMPLATE_FORM_SUBMIT,
      })
    }
  })
</script>
